{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/gestion.css') }}"
/>
{% endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Gestión de Parqueadero</h2>

  <!-- Mensajes flash para notificaciones -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-success" role="alert">{{ messages[0] }}</div>
  {% endif %} {% endwith %}

 

  

  <!-- Lista de vehículos actualmente dentro del parqueadero -->
  <!-- Esto puede ser una tabla o una serie de tarjetas que muestren la información del vehículo y la opción de registrar salida directamente desde allí -->
</div>
{% endblock %} {% block scripts %} {{ super() }}

{% endblock %}
