<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuración del Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1>Configuración del Administrador</h1>
        <!-- Formulario de configuración aquí -->
        <form method="post">
            <!-- Agregar campos de configuración como sea necesario -->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ejemplo de Configuración</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo">
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
