{% extends "base.html" %}

{% block content %}
  <h2>Gestión de Usuarios</h2>
  <!-- Implementación de la tabla o formulario para editar usuarios -->
  {% for usuario in usuarios %}
  <form method="POST" action="{{ url_for('admin.usuario', user_id=usuario.id) }}">
    <div>
      <label for="username_{{ usuario.id }}">Nombre de Usuario:</label>
      <input type="text" id="username_{{ usuario.id }}" name="username" value="{{ usuario.username }}" required>
    </div>
    <div>
      <label for="role_{{ usuario.id }}">Rol:</label>
      <select id="role_{{ usuario.id }}" name="role" required>
        <option value="admin" {% if usuario.role == 'admin' %}selected{% endif %}>Administrador</option>
        <option value="user" {% if usuario.role == 'user' %}selected{% endif %}>Usuario</option>
      </select>
    </div>
    <button type="submit">Actualizar Usuario</button>
  </form>
  {% endfor %}
</main>
{% endblock %}

