{% extends "base.html" %}

{% block content %}
<main role="main" class="container mt-4">
    <h1>Bienvenido al Sistema de Gestión de Parqueaderos</h1>

    <div>
        <h2>Navegación</h2>
        <nav>
            <ul>
                <!-- Asegúrate de que estos endpoints estén definidos en tus rutas de Flask -->
                <li><a href="{{ url_for('admin.reportes') }}">Reportes (Admin)</a></li>
                <li><a href="{{ url_for('user.gestion') }}">Gestión (Usuario)</a></li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}
